// app global css in SCSS form
.body{

}
.app {
  overflow: hidden;
  height: 100%;
  background-color: orange;

   
}
.alpha-left-drawer-options-tab-content{
  min-width: 300px;
}

.alpha-options-content{
    background-color: var(--color-darkgrey)!important;
    
}

.alpha-splitter-tabs{
  background-color: var(--color-brightgrey);
  color:white;

  .q-splitter__separator{
    
  }

  .q-splitter__before{
    min-width: 100px;
    width: min-content!important;
    align-items: start;
  }
  .q-splitter__after{
    background-color: var(--color-brightgrey)!important;
    color:white;

      .q-tab-panels {
        background-color: var(--color-brightgrey)!important;
        color:white;
      }
  }
}
.editor-input{
  color:white;
  
}
.quasar-input-ext{
  color: white;
}
.app-header{
  background-color: var(--color-primary);
}
.left-toolbar {
  background-color: green;
  position: relative;
}
.default-app-view {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  width: 100%;
}
.decision-btn-left {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.drag-icon {
  &:hover {
    cursor: move;
  }
}

.focussed-element {
  outline-color: blue;
  outline-style: groove;
  outline-width: 3px;
  z-index: 15;
  outline-offset: 1px;

  
  
}
.alpha-input-base{
  color:white;
}
.alpha-input{
  color:white!important;
  border-radius: 5px; 
  

  .alpha-input-label-before{
    font-size: 13px;
    color:white;
  }
  input{
    border-radius: 5px; 
    background-color: var(--color-darkgrey)!important;
    color:white;
    

  }
}
.alpha-select{
  color: white;
  background-color: var(--color-darkgrey);
  border-radius: 5px; 
  padding-left: 5px;

  .q-field__native { 
    color: white; 
   }
}

.alpha-dropdown-content{
  background-color: var(--color-darkgrey);
  color: white;
}
.focussed-element > .q-btn__content *{
  outline-color: blue;
  outline-style: groove;
  outline-width: 3px;
  z-index: 15;
  outline-offset: 3px;
}

.c-brightgrey {
  background-color: var(--color-brightgrey);
}

.c-darkgrey {
    background-color: var(--color-darkgrey);
}
.targetDropDown {
  outline-color: black;
  outline-offset: 3px;
  outline-width: 3px
}

.showTargetPositionLeftTop{
  box-shadow: -3px -3px 0px 3px red;
  margin: 3px;
}

.showTargetPositionRightBottom{
  box-shadow: 3px 3px 0px 3px #FF0505;
  margin: 3px;
}

.drawer-header {
  position: relative;
  font-size: x-large;
  background-color: var(--color-brightgrey);
  width: 100%;
  display: inline-flex;
  padding-left: 10px;
  .close-btn {
    position: absolute;
    vertical-align: middle;
    top: 5px;
    right: 15px;
  }
  .expand-btn {
    position: absolute;
    vertical-align: middle;
    top: 5px;
    right: 45px;
  }
}

.small-block-header {
  margin-left: 10px;
  font-size: small;

  >div>div{
    font-size: medium;
  }
}

.icon-wrapper {
  width: 40px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.active-container {
  background-color:var(--color-darkgrey);
}

.disable-hindering-events {
  
}

.drop_before {
  border-left: 3px solid var(--color-primary) !important;
  border-top: 3px solid var(--color-primary) !important;

}

.drop_after {
  border-bottom: 3px solid var(--color-primary) ;
  border-right: 3px solid var(--color-primary);
}